/* reset CSS */
* {
    margin: auto;
    padding: 0;
    text-align: center;
    color:#F0F5F6;
}

/* semantic elements styling */
html,
body { 
    height: 100vh;
}

body {
    min-height: 100vh;
    font-family: 'League Spartan';
    background-color: #005963;
    box-shadow: inset 0px 0px 150px #00ACB1;
}

header {
    background-image: linear-gradient(45deg, #063b42 25%, #b6f77e 25%, #b6f77e 50%, #063b42 50%, #063b42 75%, #b6f77e 75%, #b6f77e 100%);
    background-size: 56.57px 56.57px;
    padding: 1.5rem;
    font-size: 1.2rem;
}

main {
    padding-top: 4rem;
}

hr {
    margin-top: 2rem;
    width: 80%;
    height: 2px;
}

header>p {
    background-color: #b6f77e;
    color:#063b42;
    padding: 2px;
    max-width: 50%;
    font-weight: bold;
}

h1 {
    max-width: 90%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #F0F5F6;
    font-size: 2.2rem;
}

h1 + p {
    font-size: 1.4rem;
    margin-top: 0.5rem;
}

a {
    text-decoration: none;
}

a:hover {
    color:#b6f77e;
}

a:active {
    color:#00ACB1;
}

img {
    max-width: 300px;
    min-width: 200px;
}

footer {
    color: #b6f77e;
    background-color: #031c20;
    width: 100%;
    font-size: 15px;
    padding: 10px;
}

/* styling div with contact details */
.container {
    margin: 20px auto 20px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.box {
    display: block;
    align-items: center;
    justify-content: center;
}

.header {
    font-family: League spartan;
    font-size: 1.6rem;
    color: #CAF0C1;
}

.info {
    font-size: 1.2rem;
}

#mapa {
    width: 80vw;
    height: 25vh;
    margin: auto;
}
