/* define colors */
:root {
    --light: #F5F5F5;
    --beige: #757674;
    --dark: #2F3132;
    --blue: #5E8EB7;
    --blackish: #141414;
    --contrast: #cfa049;
}
/*******************************************/
/* CSS style reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
  
::selection {
    background-color: var(--contrast);
}
  
body {
    background-color: var(--light);
    color: var(--blackish);
  }



/*******************************************/
/* nav bar styling */
nav {
    display: block;
    position: fixed;
}

/*********************************************/
/********     nav bar with CSS       ********/
/* https://codepen.io/erikterwan/pen/EVzeRP */
/*******************************************/

#menuToggle {
  display: block;
  position: relative;
  top: 2rem;
  left: 2rem;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: var(--light);
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: var(--dark);
  font-weight: bold;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide checkbox */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*build a hamburger*/
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* Transform all the slices of hamburger into a crossmark*/
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

/* But let's hide the middle one.*/
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/* the last one should go the other direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/* Make this absolute positioned at the top left of the screen */
#menu {
  position: fixed;
  height: 100vh;
  margin: -59px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: var(--blue);
  color: var(--light);
  list-style-type: none;
  -webkit-font-smoothing: antialiased; /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 0.6rem 0;
  font-size: 1.4rem;
}

/* And let's slide it in from the left */
#menuToggle input:checked ~ ul {
  transform: none;
}

/*******************************************/
/*******            END          ***********/
/*******************************************/

/* button */
button {
    display: block;
    margin: auto;
    width: 300px;
    height: 4.3rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: bolder;
    letter-spacing: 2px;
}

button:hover {
    background-color: var(--beige);
}

button:active {
    background-color: var(--blue);
}

/* links styling */
a {
    text-decoration: none;
    color: var(--blackish);
}

main section a {
    font-style: italic;
}

main section a:hover {
    color: var(--blue);
}
  
main section a:active {
    color: var(--contrast);
}

footer a {
    color: var(--blue);
}

footer a:hover {
    color: var(--beige);
}
  
footer a:active {
    color: var(--contrast);
}

/* main content styling */
.main-section header {
    font-size: 2rem;
    color: var(--light);
    background-color: var(--dark);
    width: 100vw;
    font-weight: bold;
    padding: 1.3rem 5rem;
}
  
.main-section p {
   padding: 1rem 1.5rem;
   background-color: var(--light);
   color: var(--blackish);
}

.main-section p + p {
    padding: 0rem 1.5rem;
}

.main-section p + p:last-of-type {
    padding: 1rem 1.5rem;
}

.main-section ul {
    list-style: inside;
    background-color: var(--light);
    padding: 1.3rem;
    margin-left: 1.5em;
}

img {
    display: block;
    max-width: 100%;
    min-width: 300px;
    margin: auto;
}

hr {
    border: 1px solid var(--blue);
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 50%;
}

footer {
    text-align: center;
    color: var(--blue);
    background-color: var(--blackish);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

footer span {
    color: var(--light);
}

footer img {
    display: inline-block;
    min-width: 1rem;
}

.important {
    text-align: center;
}

.full-width {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    width: 100%;
}

.indent {
    margin-left: 4rem;
}

/* displayed code styling */
code, 
.full-width {
    font-family: 'Roboto Mono', monospace;
    background-color: #eff0ef;
    color: var(--blackish);
}

code {
    padding: 3px;
}
  
/* table styling */
table, 
th,
td {
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    color: var(--light);
}
  
th {
    background-color: var(--blue);
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0.7rem;
}

td {
    color: var(--dark);
    border-bottom: 1px solid var(--beige);
}

/* converter div styling */
.converter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: auto;
    border: 1px solid var(--beige);
}

.converter p {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.input-text {
    font-size:  1.3rem;
    text-align: center;
    width: 8rem;
}

#result-label {
    font-size:  1.5rem;
    font-weight: 700;
    background: linear-gradient(
        to bottom, 
        transparent 50%,
        var(--contrast) 50%
    );
}

/* converter button */
.action_convert {
    background-color: var(--blue);
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 12rem;
}

.action_convert:hover {
    background-color: var(--contrast);
}

.action_convert:active {
    background-color: var(--dark);
    color: white;
}

#result1 {
    font-size:  1.3rem;
}

/*******************************************************/
/*** resposiveness - navigation bar styling: desktop ***/ 
/*******************************************************/
@media screen and (min-width: 1024px) {
    #navbar {
        position: fixed;
        min-width: 250px;
        max-width: 300px;
        width: 300px;
        height: 100%;
        border-right: solid;
        border-color: var(--beige);
    }
    #menu {
        border: 1px solid var(--beige);
    }

    /* hide the x and burger while on desktop */
    #menuToggle input {
        display: none;
      }

    #navbar {
        width: 300px;
        border: solid 2px var(--blackish);
        background-color: var(--blue);
    }

    #menuToggle input:checked ~ ul {
        transform: translate(0%, 0);
        width: 300px;
        border: none;
        background-color: var(--blue);
      }

      #menuToggle input:not(:checked) {
        position: absolute;
        z-index: 999;
      }
}
/*******************************************************/
/**** resposiveness - main content display: desktop ****/
/*******************************************************/
@media screen and (min-width: 1024px) {
    main {
      display: block;
      position: absolute;
      margin-left: 300px;
      width: calc(100% - 300px);
      }
  }

/**************************************************************/
/* resposiveness - navigation bar styling: mobile and tablet**/
/*************************************************************/
@media screen and (min-width: 280px) and (max-width: 1023px) {
    #navbar {
        width: 100vw;
        height: 100vh;
    }
    /* #menuToggle {
        background-color: var(--light);
    } */

    #menuToggle span {
        background: var(--contrast);
    }
    #menuToggle input:checked ~ span {
        background: var(--light);
    }
      .nav-link {
        width: 100vw;
    }
}

/***********************************************************/
/* resposiveness - main content display: mobile and tablet */
/***********************************************************/
@media screen and (min-width: 280px) and (max-width: 1023px) {
    main {
      display: block;
      }
}